* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}
main {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-height: 70vh;
  align-items: center;
  background-color: #3d1170;
  padding: 2vh;
  border-radius: 5px;
  gap: 2vh;
  box-shadow: 10px 10px 8px #07020e;
}

.display {
  display: flex;

  align-items: center;
  font-family: "Share Tech Mono", monospace;
  font-size: 2em;
  width: 90%;
  height: 10vh;
  min-height: 50px;
  background-color: #dadada;
  margin-bottom: 2vh;
  border-radius: 25px;
  padding: 1vh;
}
.buttons {
  width: 85%;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5vh;
  justify-content: center;
}

.button {
  padding: 2vh 2vh 2vh 2vh;
  font-size: 1.5em;
}

.button.nums,
.button.operator,
.button.result {
  width: 20%;
}
/*.empty {
  width: 25%;
}
.zero {
  margin-left: auto;
}*/
.reset {
  width: 70%;
  margin-top: 1vh;
  font-size: 1.5em;
  padding: 2vh;
}

.operator {
  background-color: #ee9828;
}
