* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top left,
    rgba(52, 7, 88, 0.5),
    rgba(255, 238, 0, 0.5)
  );
  gap: 8vh;
}
main {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-height: 70vh;
  align-items: center;
  background-color: #3d1170;
  padding-bottom: 2vh;
  padding-top: 1vh;
  border-radius: 10px;
  gap: 0.5vh;
  box-shadow: 10px 10px 8px #07020e;
  border-top: 2px solid #1b0731;
  border-left: 2px solid #1b0731;
  border-bottom: 5px solid #1b0731;
  border-right: 5px solid #1b0731;
}

.name {
  width: 20vw;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

h3 {
  align-self: flex-start;
  color: #dadada;
}

.display {
  display: flex;
  /*box-shadow: 6px 6px 8px #07020e;*/
  box-shadow: inset 3px 3px 1px 1px #252525;
  align-items: center;
  font-family: "Share Tech Mono", monospace;
  font-size: 5vh;
  width: 90%;
  height: 10vh;
  min-height: 50px;
  background-color: #dadada;
  margin-bottom: 2vh;
  border-radius: 25px;
  padding: 1vh;
}
.buttons {
  width: 85%;
  border: solid 2px black;
  border-radius: 25px;
  margin: auto;
  background-color: #0f041b;
  padding: 1vh 1vh 1vh 1vh;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vh;
  justify-content: center;
}

.button {
  padding: 2vh 2vh 2vh 2vh;
  font-size: 1.5em;
  box-shadow: 2px 2px 1px 1px #1b0731;
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-radius: 5px;
}

.button:hover {
  background-color: #c2c2c2;
}

.button.nums,
.button.operator,
.button.result {
  width: 20%;
  gap: 0.5vh;
}
/*.empty {
  width: 25%;
}*/
.zero {
  min-width: 40.5%;
}
.reset {
  width: 70%;
  margin-bottom: 1vh;
  font-size: 1.5em;
  padding: 2vh;
}

.operator {
  background-color: #ee9828;
  border-radius: 5px;
}
.operator:hover {
  background-color: #c57e21;
}
